.appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.background {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    z-index: -999;
    background-color: var(--color-background);
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    width: 100%;
    padding-inline: var(--site-padding-x);
    // Не позволяет растягиваться контенту по всему экрану огромного монитора
    max-width: calc(#{$desktop-min}px - 2 * var(--site-padding-x));
}
