.appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 100dvh;

    color: var(--color-text-main);
}

.background {
    position: fixed;
    z-index: -50;
    inset: 0;

    width: 100dvw;
    height: 100dvh;

    background:
        radial-gradient(
            circle at 15% 0%,
            rgb(45 212 191 / 10%),
            transparent 30%
        ),
        linear-gradient(180deg, #111827 0%, #0f172a 100%);
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: min(
        100%,
        calc(var(--max-content-size) + 2 * var(--site-padding-x))
    );
    min-height: 100dvh;
    padding: var(--site-padding-y) var(--site-padding-x);
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--main-section-gap);
    align-items: center;

    width: 100%;
    padding-bottom: toRem(96);
}
