.cardComponent {
    display: flex;
    flex-direction: column;
    gap: toRem(10);
    align-items: start;
    justify-content: space-between;

    min-width: toRem(150);
    height: 100%;
    border-radius: var(--border-radius);

    .content {
        display: contents;
    }

    .img {
        width: 100%;
        min-width: toRem(130);
        height: unset;
        max-height: 100%;
        border-radius: var(--border-radius);
    }

    .topSlot,
    .bottomSlot {
        align-self: flex-end;
    }

    .textWrapper {
        .heading,
        .subheading {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .heading {
            max-width: toRem(135);
        }

        .subheading {
            max-width: toRem(120);
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    gap: toRem(10);

    padding: toRem(10);
    border: var(--border-classic);
    border-radius: var(--border-radius);

    background-color: var(--color-background-alt);
    box-shadow: var(--box-shadow);

    &:active {
        border: var(--border-accent);
        transition-duration: var(--default-transition-duration);
    }

    &:only-child {
        width: 100%;
    }
}
