.button {
    border: 1px solid transparent;
    font-size: 16px;
    font-size: toRem(18);
    transition-duration: var(--transition-duration);

    &:active,
    &:hover {
        border-color: rgb(45 212 191 / 50%);
    }

    @include font-arial-rounded-mt;
}
