/* stylelint-disable selector-class-pattern */
.badge {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-block: 3px;
    padding-inline: toRem(7);
    border: 1px solid transparent;

    font-size: var(--ui-small);
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-text-main);
    text-align: center;

    @include font-arial-rounded-mt;
}

.color {
    &-accent {
        color: #082f2d;
        background-color: var(--color-accent);
    }

    &-disabled {
        border-color: rgb(148 163 184 / 28%);
        color: var(--color-text-muted);
        background-color: rgb(148 163 184 / 15%);
    }

    &-danger {
        color: #450a0a;
        background-color: var(--color-danger);
    }

    &-success {
        color: #052e16;
        background-color: var(--color-success);
    }

    &-warning {
        color: #422006;
        background-color: var(--color-warning);
    }

    &-neutral {
        border-color: rgb(148 163 184 / 20%);
        color: var(--color-text-main);
        background-color: rgb(51 65 85 / 80%);
    }
}

.radius {
    &-sm {
        border-radius: 2px;
    }

    &-md {
        border-radius: var(--border-radius-small);
    }

    &-lg {
        border-radius: var(--border-radius);
    }
}
